<body>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Endeavour to stay safe. Together</h1>
    <p class="lead font-weight-normal">A social application, for businesses and inidivduals to keep healthy, safe and sound</p>
    <a> <%= link_to 'Get Started', new_user_session_path, class: "btn btn-outline-secondary" %></a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<style>
    .my-container {
        background-color: #f2f2f2ff;
    }
    .my-row {
        height: 500px;
    }
    .my-col {
    }
    .my-img {
        max-width: 100%;
        height: auto;
    }
    
</style>

<div class="my-container">
    <div class="row justify-content-around align-items-center my-row">

        <div class="col-md-4 my-col">
            <h2>For people who want to be safe</h2>
        </div>

        <div class="col-md-4 my-col">
            <img class="my-img" src=<%=asset_path("person.png")%>>
        </div>
        
    </div>

</div>


</body>