<% @places.each do |place| %>

<div class="container marketing">

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 align-self-center">
        <h2 class="featurette-heading"><%= place.name %></h2>
<br>
        <p class="lead">Address : <%= place.location %> </p>
<br>
        <p class="lead">Phone : <%=place.phone %></p>
<br>
        <p class="lead">This establishment has a max occupancy of <strong><%= place.occupancy %></strong> people</p>

    </div>
</div>

<hr class="featurette-divider">

</div>

<% end %>
